# DataFrame & SQL
## <font color=orange>Create</font>
* spark.read.option('header', true).option('').csv(path)
* spark.createDataFrame(data, schema)
### DataType
* ArrayType  
    - ex. StructField('name', ArrayType(StringType()), True)
* MapType: similar python dict  
    - ex. StructField('name', MapType(StringType(), StringType()), True)

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Demo').getOrCreate()
sc = spark.sparkContext
sc.setLogLevel('WARN')
# empty RDD
emptyRDD = sc.emptyRDD()
emptyRDD = sc.parallelize([])
print("emptyRDD: ",emptyRDD)

# Create Schema
from pyspark.sql.types import StructField, StructType, StringType, IntegerType, ArrayType, MapType


schema = StructType([
    StructField('firstname', StringType(), True),
    StructField('middlename', StringType(), True),
    StructField('lastname', StringType(), True)
])

# Convert Dataframe from emptyRDD
df = spark.createDataFrame(data=emptyRDD, schema=schema)
print('Convert DataFrame from emptyRDD')
df.printSchema()

# Create DataFrame from schema
df2 = spark.createDataFrame([], schema)
df2.printSchema()

# Create empty DF with no schema
df3 = spark.createDataFrame([],StructType([]))
df3.printSchema()

# convert DF to pandas
df_pandas = df.toPandas()
type(df_pandas), type(df)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/28 21:40:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/09/28 21:40:45 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
emptyRDD:  ParallelCollectionRDD[1] at readRDDFromFile at PythonRDD.scala:274
Convert DataFrame from emptyRDD
root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)

root

(pandas.core.frame.DataFrame, pyspark.sql.dataframe.DataFrame)

In [3]:
from pyspark.sql.functions import col, struct, when, lit
structureData = [
    (("James","","Smith"),"36636","M",3100),
    (("Michael","Rose",""),"40288","M",4300),
    (("Robert","","Williams"),"42114","M",1400),
    (("Maria","Anne","Jones"),"39192","F",5500),
    (("Jen","Mary","Brown"),"","F",-1)
  ]
structureSchema = StructType([
        StructField('name', StructType([
             StructField('firstname', StringType(), True),
             StructField('middlename', StringType(), True),
             StructField('lastname', StringType(), True)
             ])),
         StructField('id', StringType(), True),
         StructField('gender', StringType(), True),
         StructField('salary', IntegerType(), True)
         ])

df2 = spark.createDataFrame(data=structureData,schema=structureSchema)
df2.printSchema()
df2.show(truncate=False)

updatedDF = df2.withColumn("OtherInfo", 
    struct(col("id").alias("identifier"),
    col("gender").alias("gender"),
    col("salary").alias("salary"),
    when(col("salary").cast(IntegerType()) < 2000,"Low")
      .when(col("salary").cast(IntegerType()) < 4000,"Medium")
      .otherwise("High").alias("Salary_Grade")
  )).drop("id","gender","salary")
updatedDF.printSchema()
updatedDF.show(truncate=False)

import json
schemaFromJson = StructType.fromJson(json.loads(structureSchema.json()))
df3 = spark.createDataFrame(
    sc.parallelize(structureData), schemaFromJson)
df3.show()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+--------------------+-----+------+------+
|name                |id   |gender|salary|
+--------------------+-----+------+------+
|{James, , Smith}    |36636|M     |3100  |
|{Michael, Rose, }   |40288|M     |4300  |
|{Robert, , Williams}|42114|M     |1400  |
|{Maria, Anne, Jones}|39192|F     |5500  |
|{Jen, Mary, Brown}  |     |F     |-1    |
+--------------------+-----+------+------+

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- OtherInfo: struct (nullable = false)
 |    |-- identifier: string (nullable = true)
 |    |-- gender: string (nullable = true)
 |    |-- salary: integer (nullable = true)
 |    |-- Salary_Grade: string (nullable = false)

+--------------------+------------------------+
|name                |OtherInfo               |
+--------------------+------------------------+
|{James, , Smith}    |{36636, M, 3100, Medium}|
|{Michael, Rose, }   |{40288, M, 4300, High}  |
|{Robert, , Williams}|{42114, M, 1400, Low}   |
|{Maria, Anne, Jones}|{39192, F, 5500, High}  |
|{Jen, Mary, Brown}  |{, F, -1, Low}          |
+--------------------+------------------------+

+--------------------+-----+------+------+
|                name|   id|gender|salary|
+--------------------+-----+------+------+
|    {James, , Smith}|36636|     M|  3100|
|   {Michael, Rose, }|40288|     M|  4300|
|{Robert, , Williams}|42114|     M|  1400|
|{Maria, Anne, Jones}|39192|     F|  5500|
|  {Jen, Mary, Brown}|     |     F|    -1|
+--------------------+-----+------+------+

In [83]:
df3.schema.simpleString()

'struct<name:struct<firstname:string,middlename:string,lastname:string>,id:string,gender:string,salary:int>'

### Create/drop `TempView`
1. Create
  * Global: 
    ```python
    df.createOrReplaceGlobalTempView('TableName')
    spark.sql("select * from global_temp.TableName")
    ```
  * Local:  
    ```python
    df.createOrReplaceTempView('TableName')
    spark.sql("select * from TableName)
    ```
2. Drop
  * spark.catalog.dropGlobalTempView('TableName')
  * spark.catalog.dropTempView('TableName')

In [10]:
df2.createOrReplaceTempView('tmp_df2')
print(spark.sql('select * from tmp_df2 ').collect())
print(spark.catalog.dropTempView('tmp_df2'))

[Row(name=Row(firstname='James', middlename='', lastname='Smith'), id='36636', gender='M', salary=3100), Row(name=Row(firstname='Michael', middlename='Rose', lastname=''), id='40288', gender='M', salary=4300), Row(name=Row(firstname='Robert', middlename='', lastname='Williams'), id='42114', gender='M', salary=1400), Row(name=Row(firstname='Maria', middlename='Anne', lastname='Jones'), id='39192', gender='F', salary=5500), Row(name=Row(firstname='Jen', middlename='Mary', lastname='Brown'), id='', gender='F', salary=-1)]
None

## <font color=orange>Update</font>

### 新增欄位 
* 新增或替換現有的欄位 withColumn

In [137]:
from pyspark.sql import Row
from pyspark.sql import functions as F
#1 新增欄位輸入值 要用lit
df2.withColumn('new_col', lit(0)).show()

#2 依現有欄位條件輸入新欄位
df2.withColumn('new_co', when(df2.salary<0,'error'). \
                         when(df2.salary==1400, '1400'). \
                         when(df2.salary.between(0,2000),'0-2000'). \
                         otherwise('over2000')).show()
#3 新增一個list 轉為spark dataframe 再join
# 目前尚未找到類似pd.concat功能

id = F.monotonically_increasing_id()
row = Row('val', 'num')
lt = lt = [row(f'x{i}',i) for i in range(5)]
sc_lt = spark.sparkContext.parallelize(lt).toDF()
sc_lt = sc_lt.withColumn('matchID', id)
df2_new = df2.withColumn('matchID',id)
df3 = df2_new.join(sc_lt, df2_new.matchID == sc_lt.matchID, how='inner').drop('matchID')
df3 = df3.withColumn('newid', when(df3.id=='',None).otherwise(df3.id))

+--------------------+-----+------+------+-------+
|                name|   id|gender|salary|new_col|
+--------------------+-----+------+------+-------+
|    {James, , Smith}|36636|     M|  3100|      0|
|   {Michael, Rose, }|40288|     M|  4300|      0|
|{Robert, , Williams}|42114|     M|  1400|      0|
|{Maria, Anne, Jones}|39192|     F|  5500|      0|
|  {Jen, Mary, Brown}|     |     F|    -1|      0|
+--------------------+-----+------+------+-------+

+--------------------+-----+------+------+--------+
|                name|   id|gender|salary|  new_co|
+--------------------+-----+------+------+--------+
|    {James, , Smith}|36636|     M|  3100|over2000|
|   {Michael, Rose, }|40288|     M|  4300|over2000|
|{Robert, , Williams}|42114|     M|  1400|    1400|
|{Maria, Anne, Jones}|39192|     F|  5500|over2000|
|  {Jen, Mary, Brown}|     |     F|    -1|   error|
+--------------------+-----+------+------+--------+

### 條件篩選

In [145]:
# filter
df3.filter(df3.salary<0).show()
# where 
df3.where(df3.salary>0).show()
# between
df3.filter(df3.salary.between(3100,4400)).show()
# isin
df3[df3.salary.isin([3100,-1])].show()
# isnull(None) / isnan(非數字)
df3.filter(F.isnull('newid')).show()

+------------------+---+------+------+---+---+-----+
|              name| id|gender|salary|val|num|newid|
+------------------+---+------+------+---+---+-----+
|{Jen, Mary, Brown}|   |     F|    -1| x4|  4| null|
+------------------+---+------+------+---+---+-----+

+--------------------+-----+------+------+---+---+-----+
|                name|   id|gender|salary|val|num|newid|
+--------------------+-----+------+------+---+---+-----+
|    {James, , Smith}|36636|     M|  3100| x0|  0|36636|
|   {Michael, Rose, }|40288|     M|  4300| x1|  1|40288|
|{Robert, , Williams}|42114|     M|  1400| x2|  2|42114|
|{Maria, Anne, Jones}|39192|     F|  5500| x3|  3|39192|
+--------------------+-----+------+------+---+---+-----+

+-----------------+-----+------+------+---+---+-----+
|             name|   id|gender|salary|val|num|newid|
+-----------------+-----+------+------+---+---+-----+
| {James, , Smith}|36636|     M|  3100| x0|  0|36636|
|{Michael, Rose, }|40288|     M|  4300| x1|  1|40288|
+-----------------+-----+------+------+---+---+-----+

+------------------+-----+------+------+---+---+-----+
|              name|   id|gender|salary|val|num|newid|
+------------------+-----+------+------+---+---+-----+
|  {James, , Smith}|36636|     M|  3100| x0|  0|36636|
|{Jen, Mary, Brown}|     |     F|    -1| x4|  4| null|
+------------------+-----+------+------+---+---+-----+

+------------------+---+------+------+---+---+-----+
|              name| id|gender|salary|val|num|newid|
+------------------+---+------+------+---+---+-----+
|{Jen, Mary, Brown}|   |     F|    -1| x4|  4| null|
+------------------+---+------+------+---+---+-----+

### <font color=orange>Rename column</font>

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
from pyspark.sql.functions import *

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

dataDF = [(('James','','Smith'),'1991-04-01','M',3000),
  (('Michael','Rose',''),'2000-05-19','M',4000),
  (('Robert','','Williams'),'1978-09-05','M',4000),
  (('Maria','Anne','Jones'),'1967-12-01','F',4000),
  (('Jen','Mary','Brown'),'1980-02-17','F',-1)
]

schema = StructType([
        StructField('name', StructType([
             StructField('firstname', StringType(), True),
             StructField('middlename', StringType(), True),
             StructField('lastname', StringType(), True)
             ])),
         StructField('dob', StringType(), True),
         StructField('gender', StringType(), True),
         StructField('salary', IntegerType(), True)
         ])

df = spark.createDataFrame(data = dataDF, schema = schema)
df.printSchema()

# Example 1
df.withColumnRenamed("dob","DateOfBirth").printSchema()
# Example 2   
df2 = df.withColumnRenamed("dob","DateOfBirth") \
    .withColumnRenamed("salary","salary_amount")
df2.printSchema()

# Example 3 
schema2 = StructType([
    StructField("fname",StringType()),
    StructField("middlename",StringType()),
    StructField("lname",StringType())])
    
df.select(col("name").cast(schema2),
  col("dob"),
  col("gender"),
  col("salary")) \
    .printSchema()    

# Example 4 
df.select(col("name.firstname").alias("fname"),
  col("name.middlename").alias("mname"),
  col("name.lastname").alias("lname"),
  col("dob"),col("gender"),col("salary")) \
  .printSchema()
  
# Example 5
df4 = df.withColumn("fname",col("name.firstname")) \
      .withColumn("mname",col("name.middlename")) \
      .withColumn("lname",col("name.lastname")) \
      .drop("name")
df4.printSchema()

#Example 7
newColumns = ["newCol1","newCol2","newCol3","newCol4"]
df.toDF(*newColumns).printSchema()

## EDA

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Demo').getOrCreate()
sc = spark.sparkContext

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/13 23:56:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [14]:
df = spark.read\
    .option('header',True)\
    .option('inferSchema',True)\
    .csv("./archive/CommentsFeb2018.csv")

In [15]:
df.printSchema()

root
 |-- approveDate: string (nullable = true)
 |-- articleID: string (nullable = true)
 |-- articleWordCount: string (nullable = true)
 |-- commentBody: string (nullable = true)
 |-- commentID: string (nullable = true)
 |-- commentSequence: string (nullable = true)
 |-- commentTitle: string (nullable = true)
 |-- commentType: string (nullable = true)
 |-- createDate: string (nullable = true)
 |-- depth: string (nullable = true)
 |-- editorsSelection: string (nullable = true)
 |-- inReplyTo: string (nullable = true)
 |-- newDesk: string (nullable = true)
 |-- parentID: string (nullable = true)
 |-- parentUserDisplayName: string (nullable = true)
 |-- permID: string (nullable = true)
 |-- picURL: string (nullable = true)
 |-- printPage: string (nullable = true)
 |-- recommendations: string (nullable = true)
 |-- recommendedFlag: string (nullable = true)
 |-- replyCount: string (nullable = true)
 |-- reportAbuseFlag: string (nullable = true)
 |-- sectionName: string (nullable = true)
 |-- sharing: string (nullable = true)
 |-- status: string (nullable = true)
 |-- timespeople: string (nullable = true)
 |-- trusted: string (nullable = true)
 |-- typeOfMaterial: string (nullable = true)
 |-- updateDate: string (nullable = true)
 |-- userDisplayName: string (nullable = true)
 |-- userID: string (nullable = true)
 |-- userLocation: string (nullable = true)
 |-- userTitle: string (nullable = true)
 |-- userURL: string (nullable = true)

In [17]:
from pyspark.sql.functions import isnull, when, col, count

print('Rows: ', df.count())
print('Columns: ', len(df.columns))
print('Missing: ', df.select([
    count(when(isnull(c),c)).alias(c) for c in df.columns])\
        .toPandas().sum().sum()
    )
for c in df.columns:
    print(
        '{:15}: '.format(c), df.select(c).distinct().count(), '\t',
        [row[c] for row in df.select(c).distinct().collect()[:5]]
    )

Rows:  215284
Columns:  34
Missing:  951911

approveDate    :  158056 	 ['1517502691', '1517495440', '1517522426', '1517505368', '1517502937']
articleID      :  1157 	 ['5a73b2d710f40f00018bf15f', '5a75e4af10f40f00018bf58a', '5a7452df10f40f00018bf2b7', '5a749c4c10f40f00018bf38f', '5a730c8b10f40f00018bef28']
articleWordCount:  844 	 ['1159', '800', '1372', '591', '1445']
commentBody    :  214384 	 ["Please take a look at photos of the crowds in attendance at women's rights marches-they are NOT entirely young women, in fact, they are a mix of young, middle age, older and include plenty of husbands, fathers and sons. Nobody is marching because it's their last chance to do so w/o being criticized, rather we are marching to ensure the equal rights of all, and sadly today that doesn't include women, but if we keep working and marching and forcing change, it will. In your families case, the caged bird sings but we protestors want to sing in the trees and skies too.", '"Poor Donald, I\'m sure he\'s so very angry with himself now that he knows he would have won the election without forking over $130,000 of that hard-earned campaign contribution cash (two criminal complaints allege), plus the fees for setting up the phony payoff company, etc.  Yes, he must be thinking ""I\'m such a loser and how can I sue Stormy to get that money back"".<br/><br/>And while public policy birth control was being destroyed', 'I have never received a coherent answer to why the Catholic Church is against birth control.  What on earth is wrong with parents trying to control the size of their family to suit their desires and situation?  No wonder studies have shown that otherwise committed Catholics largely ignore the rule.  Some women take the pill because of unrelated medical problems.  In addition, condums reduce the likelihood spreading disease.  Some Catholics have told me it is related to preventing God’s Will.  In that case, why wear seat belts when driving?  I am not Catholic,  but I would like to know the basis for this seemingly irrational rule.', 'Seriously. How about some right-thinking millionaire back her with some real legal dough so  she can talk?', "Go not forth in search of monsters to destroy. Why is it America is having its nose pulled by the NYT into yet another Middle Eastern conflict? What does the NYT gain from this?<br/><br/>Bring all our troops home safely, and let the Iraqis, the Kurds, the Syrians, the Turks, the Afghans, and the Pakistanis, boil in their own holy wars against each other. And especially stop handing out taxpayers' wealth to the rabid death-worshipping cults that these countries represent."]
commentID      :  213415 	 ['25792117.0', '25787158.0', '25787294.0', '25785098.0', '25796425.0']
commentSequence:  214103 	 ['25792117.0', '25787158.0', '25787294.0', '25785098.0', '25796425.0']
commentTitle   :  35810 	 ['25787166.0', ' unless Turkey is able to remove this mentally sick fanatic. "', ' NYTimes. The Atlantic published a full transcript of testimony about these crimes', ' not this one.  That is what is so tragically sad and cynically true.     "', '25790535.0']
commentType    :  27134 	 ['25787166.0', " in America needs to address the broader issue of a country divided.  For the blue collar members of Trump's base AND for the blue collar workers who are NOT part of Trump's base", ' but Mao believed that the USA was only ""the paper tiger', '25798602.0', " I don't think certain groups are going to give up their gas guzzlers.  From what I have seen Latinos love big trucks (nothing to be ashamed of there)"]
createDate     :  189904 	 ['1517512813', '1517492704', '1517520679', '1517507661', '1517514344']
depth          :  25025 	 ['1517512785', '25791575.0', ' as the recent history of Iraq and Syria teaches us. The rulers of Arab nations know this very well. And they note what has happened when they succumbed to American pressure and let their people decide', ' like siblings. Schumer has also criticized the diversity lottery so the 50', ' and worker productivity']
editorsSelection:  18930 	 [' indeed."', '25791575.0', ' and they dread what might happen', '25786801.0', '1517538474']
inReplyTo      :  46836 	 ['25784674', " despise Trump. But let's protect our innocent Dreamers and", '25786801.0', '25828994', '25913141']
newDesk        :  13796 	 ['1517493386', '25913141', " but he didn't. And he won't remove Nunes from his chairmanship", '1517577188', '25820157.0']
parentID       :  42189 	 ['25787166.0', '25784128.0', '25797131.0', '25794798.0', '25792939.0']
parentUserDisplayName:  23841 	 ['RjW', 'Howard Fitzpatrick', 'zucccchini', 'Leslie374', 'Carsafrica']
permID         :  187554 	 [' and the harasser is a powerful or valued executive', '25789525:25791328', '25796194', '25787104', '25783208:25788286']
picURL         :  19482 	 ['25784674', 'https://s3.amazonaws.com/pimage.timespeople.nytimes.com/1343/0202/cropped-13430202.jpg?0.11158927390351892', 'https://s3.amazonaws.com/pimage.timespeople.nytimes.com/6653/3005/cropped-66533005.jpg', 'https://s3.amazonaws.com/pimage.timespeople.nytimes.com/6005/3415/cropped-60053415.jpg', 'https://s3.amazonaws.com/pimage.timespeople.nytimes.com/6809/0789/cropped-68090789.jpg?0.6693028591107577']
printPage      :  12578 	 ['1517487300', '26188311', '25800129', '25798379', '25808448']
recommendations:  10505 	 ['25784875', '25797731', '25793007', '25800133', 'https://s3.amazonaws.com/pimage.timespeople.nytimes.com/6005/3415/cropped-60053415.jpg']
recommendedFlag:  7663 	 ['25794982:25799576', '25791986', '25794868', '1517658994', '25828047']
replyCount     :  5739 	 ['1517506448', '25791986', '25811700:25850785', '1.0', '25785993']
reportAbuseFlag:  4502 	 [' Response? One has to pretty much seek it out……as if why even take them seriously.  How can there be a clear and effective response when so few are willing to see and acknowledge how Central this issue is', '25827712.0', '1.0', '25800067', '1517582287']
sectionName    :  3568 	 ['1.0', '25822319.0', '25795115', '25799564', '25822598']
sharing        :  2864 	 ['25820593.0', '1.0', '25906916.0', '1517696414', '7']
status         :  2302 	 ['25828730', '1.0', '25809776', '1517712594', '7']
timespeople    :  1785 	 ['1.0', '1517605534', 'https://s3.amazonaws.com/pimage.timespeople.nytimes.com/3081/7763/cropped-30817763.jpg', '125', '25794709']
trusted        :  1455 	 ['25796596', '1.0', '25782241.0', ' and his minions', '7']
typeOfMaterial :  1106 	 ['https://s3.amazonaws.com/pimage.timespeople.nytimes.com/5900/3610/cropped-59003610.jpg?0.5108037698082626', 'https://s3.amazonaws.com/pimage.timespeople.nytimes.com/6005/3415/cropped-60053415.jpg', '25821601:25821717', '1.0', 'News Analysis']
updateDate     :  137568 	 ['1517495440', '1517522426', '1517505368', '1517502937', '1517512690']
userDisplayName:  49162 	 ['RjW', 'Howard Fitzpatrick', '5barris', 'zucccchini', 'Robert Westwind']
userID         :  65305 	 ['47942646.0', '41856854.0', '49668339.0', '12517556.0', '30990827.0']
userLocation   :  29643 	 ['37681206.0', 'Jc Vasquez', 'Brooklyn NY', '1517784216', 'Pleasanton, CA']
userTitle      :  14626 	 ['49668339.0', 'Athens, Ga.', 'Palermo', 'Robert Westwind', '1517503732']
userURL        :  11403 	 ['6815766.0', 'Linda Oliver', 'Robert Westwind', 'LT', 'Charleston']